.categoryContainer {
   display: grid;
   width: 100%;
}

.categoryContainer h1 {
   text-align: center;
}

.categoryMain {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(400px, .3fr));
   margin: 0 100px;
   justify-content: center;
}

.categoryPost {
   display: grid;
   grid-template-areas: 
      "title"
      "img"
      "desc"
      "tags";
   justify-content: center;
   text-align: center;
   line-height: 1.2em;
   background-color: var(--white);
   background-image: url('../public/images/njshorebg2.png');
   background-size: cover;
   border: 5px solid var(--brandBlue);
   border-radius: 25px;
   margin: 10px;
   padding: 10px 0;
}

.categoryPost h2 {
   font-family: 'Caveat', cursive;
   font-size: 2em;
   padding: 0 10px;
}

.categoryPost img {
   width: 90%;
}

.categoryPost img:hover {
   opacity: .8;
}

.categoryStyle a{
   padding: 0 8px;
}

.categoryStyle a:hover{
   text-decoration: underline;
}

.description {
   display: flex;
   justify-content: center;
}

.innerDescription {
   width: 80%;
   border-top: 3px dotted var(--brandBlue);
   border-bottom: 3px dotted var(--brandBlue);
   background-color: var(--white);
   /* font-weight: bold; */
   margin: 10px 0;
}

.categoryStyle {
   padding: 5px 0;
}

.categoryStyle a{
   padding: 0 8px;
}

.categoryStyle a:hover{
   text-decoration: underline;
}

@media (max-width: 900px) {
   .categoryMain {
      grid-template-columns: 1fr;
      margin: 0;
   }
}