:root {
   --white: #F4F4F9;
   --black: #212121;
   --brandBlue: #77cddd;
   --tanBg: #facfa59e;
   --whiteOpaque: #f4f4f466;
 }


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   background: var(--tanBg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  padding: 2rem;
  max-width: 1900px;
  margin: 0 auto;
}

