.homeContainer {
   display: grid;
   grid-template-areas:
      "nav"
      "body";
}

.homeMain {
   display: grid;
   grid-template-areas:
      "heading"
      "mappedPosts";
}

.innerPost {
   
}