.navContainer {
   grid-area: 'nav';
   display: grid;
   padding: 25px 50px;
   border-radius: 15px;
   background-image: url('../public/images/njshorebg.png');
   background-size: cover;
   grid-template-columns: repeat(3, 1fr);
   grid-template-areas: "shoreIcon logo navIcons";
   color: var(--white);
   font-weight: 600;
   font-size: 2em;
   font-family: 'Indie Flower', cursive;
}

.navContainer a {
   padding: 0 10px;
}

.shoreIcon {
   display: flex;
   align-items: center;
}

.shoreLogo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.shoreLogo a {
   display: flex;
   max-width: 170px;
}

.shoreLogo img{
   border-radius: 50%;
}

.navIcons {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.shoreIcon a:hover, .navIcons a:hover {
   text-decoration: underline;
}

@media (max-width: 950px) {
   .navContainer {
      padding: 15px 0;
      grid-template-columns: 1fr;
      grid-template-areas: 
         "logo" 
         "navIcons";
      font-size: 1.5em;
      background-size: 250%;
   }
   
   .shoreIcon {
      display: none;
      justify-content: center;
   }
   
   .shoreLogo a {
      max-width: 150px;
   }
   
   .navIcons {
      justify-content: center;
   }

 }
 