.postContainer{
   display: grid;
   width: 100%;
}

.post {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 5px solid var(--brandBlue);
   background: center / contain url('../public/images/njshorelogo2.png');
   border-radius: 25px;
   flex-direction: column;
   width: 50%;
   margin: 50px auto;
   padding: 20px;
   color: var(--white);
   font-weight: bold;
   font-size: 1.2em;
   position: relative;
}

.innerPost {
   background-color: var(--white);
   background-image: url('../public/images/njshorebg2.png');
   border-radius: 25px;
   color: var(--brandBlue);
   padding-bottom: 20px;
}

.innerPost h1 {
   font-family: 'Caveat', cursive;
   font-size: 3em;
}

.post img {
   width: 400px;
}

.categoryStyle a{
   padding: 0 8px;
}

.categoryStyle a:hover{
   text-decoration: underline;
}

.description {
   padding: 20px 0;
}

.description p {
   margin: 0;
   text-align: center;
   color: var(--brandBlue);
   background-color: var(--white);
   padding: 10px 50px;
}

.description p:first-child{
   border-radius: 15px 15px 0 0;
}

.description p:last-child{
   border-radius: 0 0 15px 15px;
}

@media (max-width: 900px) {
   .post {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 5px solid var(--brandBlue);
      background: center / contain url('../public/images/njshorelogo2.png');
      border-radius: 25px;
      flex-direction: column;
      width: 50%;
      padding: 20px;
      color: var(--white);
      font-weight: bold;
      font-size: 1.2em;
      position: relative;

      width: 100%;
      margin: 20px 0;
      padding: 0;
      background: none;
   }
   
   .innerPost {
      padding-bottom: 20px;
   }
   
   .post img {
      width: 80vw;
   }
}